name: deploy-toy-website

on: [workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 'build step'
        run: echo "The Build Step"

  deploydev:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'dev'
    steps:
      - name: 'dev deploy'
        run: echo '${{ vars.myenv }}'

  deployprod:
    runs-on: ubuntu-latest
    needs: deploydev
    environment:
      name: 'prod'
    steps:
      - name: 'prod deploy'
        run: echo '${{ vars.myenv }}'

      